In [1]:
import pandas as pd

In [2]:
root = '../../input/data/train/'
eval_root = '../../input/data/eval/sample_submission.csv'

In [3]:
directors = pd.read_csv(root + 'directors.tsv')
genres = pd.read_csv(root + 'genres.tsv')
titles = pd.read_csv(root + 'titles.tsv', on_bad_lines='skip')
ratings = pd.read_csv(root + 'train_ratings.csv')
writers = pd.read_csv(root + 'writers.tsv')
years = pd.read_csv(root + 'years.tsv')

In [4]:
print(directors.size)
print(genres.size)
print(titles.size)
print(ratings.size)
print(writers.size)
print(years.size)

5905
15933
6672
15463413
11306
6799

In [5]:
submission = pd.read_csv(eval_root)

In [6]:
submission.head(30)

    user  item
0     11  2571
1     11  2959
2     11   296
3     11   318
4     11   356
5     11  4993
6     11  7153
7     11  5952
8     11   593
9     11  2858
10    14  2571
11    14  2959
12    14   296
13    14   318
14    14   356
15    14  4993
16    14  7153
17    14  5952
18    14   593
19    14  2858
20    18  2571
21    18  2959
22    18   296
23    18   318
24    18   356
25    18  4993
26    18  7153
27    18  5952
28    18   593
29    18  2858